
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
/node_modules


*.tfstate
*.tfstate.backup
terraform.tfstate.d/

# Crash logs
crash.log

# Local Terraform configurations
terraform/.terraform
.terraform.lock.hcl

# Override files (can contain secrets)
*.tfvars
*.tfvars.json