
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
/node_modules


*.tfstate
*.tfstate.backup
terraform.tfstate.d/


crash.log

terraform/.terraform
.terraform.lock.hcl

*.tfvars
*.tfvars.json